<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
        <%= image_tag 'no_image', size: "100x100" %>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>name</th>
                <th><%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th></th>
              </tr>
            </tbody>
          </table>
          
        <a class="btn btn-outline-secondary btn-block edit_user_id" href="/users/id/edit"></a>
        

      <h2>New book</h2>
        <%= form_with model: @book do |f| %>
      <h4>Title</h4>
        <%= f.text_field :title %>
      <h4>Opinion</h4>
        <%= f.text_area :body %>
      <br>
  
        <%= link_to"Create Book", books_path, class: "btn btn-success btn-sm btn-block" %>
        <% end %>
    </div>
  
  