
<%= render 'list', book: @book, user: @user %>

<div class="offset-md-1"></div>
<div class="col-md-8">

<table class="table table-striped">


  <tbody>
    <h2>Book detail</h2>
        <tr>

          <td><%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100,100) %><br>
              <%= @user.name %>
              <% end %>
          </td>

          <td><%=link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
          </td>
          <td><%= @book.body %></td>

          <% if @user == current_user %>
            <div class="btn-wrapper col-1 mx-auto">
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm btn-block" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm btn-block" %></td>
            </div>
          <% end %>
        </tr>
  </tbody>
</table>
</div>
</div>
</div>
